#customer_data td[data-toggle="collapse"] {
    cursor: pointer;
}
.bg-yellow {
    background-color: yellow !important;
}
.bg-purple {
    background-color: purple !important;
}
.bg-darkred {
    background-color: DarkRed !important;
}
.bg-pink {
    background-color: pink !important;
}
.bg-coral {
    background-color: coral !important;
}
.w-08-rem {
    width: 08rem;
}
.w-06-rem {
    width: 06rem;
}
.w-05-rem {
    width: 05rem;
}
.w-03-rem {
    width: 03rem;
}